<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.modori.kwonkiseokee.AUto"
    android:versionName="1.5.4">
    <!-- 버전 코드 설명 https://mainia.tistory.com/4925 -->
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/appicon_default"
        android:label="@string/app_name"
        android:roundIcon="@drawable/appicon_rounded"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".showPhotoOnly"></activity>
        <activity android:name=".getFromGallery" />
        <activity android:name=".SetGetImagesDir_layout" />
        <activity android:name=".PhotoDetail" />
        <activity
            android:name=".ListsOfPhotos"
            android:configChanges="screenSize|orientation" />
        <activity android:name=".LicensePage" />
        <activity android:name=".SplashActivity" />
        <activity android:name=".SelectFolder" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".Service.SetWallpaperJob" />
        <receiver
            android:name=".Service.BootReceiver"
            android:enabled="true"
            android:exported="true"
            android:label="BOOTReceiver">
            <intent-filter>
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>